body {
    margin: 0px;
    padding: 0px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    background-color: rgb(20, 17, 17);
    color: blanchedalmond;
    font-size: 16px;
}

* {
    box-sizing: content-box;
}

a{
    color: rgb(129, 97, 15);
    font-weight: bold;
    text-decoration: none;
    background: khaki;
    border-radius: 25px;
    padding: 8px;
}

a:hover{
    color: rgb(32, 23, 2);
}

/*----[ header container ] -----*/

header h1,header p {
    margin: 0 auto;
    text-align: center;
}

header p {
    margin: 10px;
}

/*----[ main container ]----*/

#main {
    width: 80%;
    margin : 0px auto;
}

/*----[ img container ]----*/

#img-div {
    background: rgb(24, 11, 1);
    padding: 15px;
    border-style: solid;
    border-color: rgb(63, 46, 4);
    border-width: 1px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    margin-top: 5px;
}

/*----[ section container ]----*/

#tribute-info {
    width: 70%;
    margin: 30px auto;
}

#tribute-info #par1 {
    text-align: center;
}

#tribute-info h3{
    text-align: center;
    margin: 25px auto;
}

#tribute-info ul {
    margin: 0 auto;
    max-width: 550px;
}

#tribute-info li{
    margin: 16px auto;
}

#tribute-info #par2 {
    text-align: center;
    margin: 20px auto;
}


